{% extends "layouts/base.html" %}

{% block title %} Add Search Console Credentials (Service Account) - {{ client.name }} {% endblock %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Add Search Console Credentials (Service Account) for {{ client.name }}</h6>
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="service_account_file">Upload Service Account JSON File</label>
              <input type="file" class="form-control-file" id="service_account_file" name="service_account_file" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload and Add Credentials</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} 