{% extends "layouts/base.html" %}

{% block title %} Setup Google Analytics Service Account {% endblock %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Setup Google Analytics Service Account for {{ client.name }}</h6>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="service_account_json">Service Account JSON</label>
              <textarea class="form-control" id="service_account_json" name="service_account_json" rows="10" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}